<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.scau.myframework.test.dao.EmployeeMapper">

    <select id="selectByPrimaryKey" resultType="com.scau.myframework.test.entity.Employee">
        select * from employee where id = ?
    </select>

    <select id="selectAll" resultType="com.scau.myframework.test.entity.Employee">
        select * from employee;
    </select>

    <insert id="addEmp" parameterType="com.frog.bean.Employee">
        insert into employee(name) values(#{name})
    </insert>

    <update id="updateEmp">
        update employee set name=#{name} where id = #{id}
    </update>

    <delete id="deleteEmpById">
        delete from employee where id = #{id}
    </delete>
</mapper>